.title_home{ 
    margin-left: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.desc_home{ 
    margin-left: 10px;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 20px;
}